<div class='comment'>

	<h4><%= comment.commenter %></h4>
	<div class='comment-inner'><%= comment.body_break %></div>

	<div class='dstr_wrapper'>
		<% if current_user.email==comment.commenter or current_user.admin? %>
			<%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
</div>