<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/images/slide-02.jpg" alt="cos1">
      <div class="container">
        <div class="carousel-caption">
          <h1>Music Talk!</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam tristique condimentum. Pellentesque sit amet neque augue.</p>
          <a class="btn btn-large btn-primary" href="#">Sign up today</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/slide-01.jpg" alt="cos2">
      <div class="container">
        <div class="carousel-caption">
          <h1>Reviews, interviews and much more</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam tristique condimentum. Pellentesque sit amet neque augue.</p>
          <a class="btn btn-large btn-primary" href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/images/slide-03.jpg" alt="cos3">
      <div class="container">
        <div class="carousel-caption">
          <h1>Know your music</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam tristique condimentum. Pellentesque sit amet neque augue.</p>
          <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->