<%= render 'posts/nav' %>

<div class='post-bg'>
  <img src='/images/post-bg1.jpg'>
</div>

<div class="jumbotron">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod dapibus nisi, ac pretium magna faucibus id. Sed massa elit, suscipit sed lacus nec, imperdiet interdum mi. Suspendisse pharetra condimentum venenatis. Phasellus vehicula nibh elementum quam euismod, interdum porta arcu facilisis. Proin euismod velit id facilisis blandit. Integer hendrerit purus tincidunt urna fermentum malesuada. Morbi blandit erat eget ligula venenatis ullamcorper. In vitae elit in sapien molestie eleifend in quis justo. Ut sollicitudin mattis mauris, quis tempor nibh elementum in. Praesent sed tristique sem. Nunc eget odio at elit interdum facilisis non eu sapien. Nam malesuada convallis consectetur. Etiam bibendum at enim et imperdiet. Morbi euismod purus pulvinar euismod mollis. Quisque fermentum eros vitae risus pellentesque interdum. <br><br>

    Suspendisse cursus molestie fermentum. Aenean et imperdiet odio. Pellentesque sagittis metus ac turpis ornare tincidunt. Mauris eget felis rhoncus, congue lectus vitae, scelerisque massa. Nullam blandit nulla lectus, sed faucibus tellus porttitor et. Cras a cursus odio, sed adipiscing sapien. Suspendisse a felis eu nisl consequat gravida sit amet quis nisi. <br><br>

    Nam sit amet auctor justo. Morbi vitae vulputate leo. Quisque tempus blandit augue, sed porttitor odio eleifend sit amet. Phasellus dignissim dui justo, fringilla pulvinar velit laoreet in. Phasellus a elementum nisi. Maecenas consectetur tempor ante, non pulvinar sapien molestie at. Suspendisse nec lacinia lacus, at blandit mauris. Nunc in mi non est congue facilisis. Vivamus commodo nisl pharetra nibh ullamcorper, in molestie tortor feugiat. Nam sed ullamcorper nisl, nec accumsan ipsum. Curabitur pellentesque varius commodo. Phasellus gravida, lacus vitae lacinia molestie, turpis dui lobortis purus, ut ullamcorper nulla turpis ac est. <br><br>
</div>