<%= render 'posts/nav' %>
<div class='post-bg'>
  <img src='/images/post-bg1.jpg'>
</div>

<% if current_user.admin? or @post.email==current_user.email %>
	<%= render 'form' %>
<% else %>
	<p class="alert"> You can only edit your own posts! </p>
<% end %>

<%= link_to "Back", '/posts' %>
<%= link_to "Home", '/home' %>