// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(255,255,255,.25);
	-moz-box-shadow: 0 2px 10px rgba(255,255,255,.25);
	box-shadow: 0 2px 10px rgba(255,255,255,.25);
	margin-top: 10px;
}

#nav-hello {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 20px;
	margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.links_main{
	display: block;
	width: 50%;
	text-align: center;
	border: 0;
	background-color: rgba(245, 240, 113, 0.83);
	border-collapse: collapse;
	//position: fixed;
	//bottom: 30%;
	//background-size:
}

#links-1{
	left: 0%;
	float: left;
	margin: 0;
	background-clip: border-box;
}

#links-2{
	right: 0%;
	float: right;
	margin: 0;
	background-clip: border-box;
}

#welcome_head{
	display: block;
	text-align: center;
	color: rgba(77, 77, 77, 0.9);
	font-size: 3em;
	margin: 0;
	//padding-bottom: 30%;
	background: rgb(224, 224, 224);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 600px;
}

.carousel img, .background {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 600px;
}

.background{
	z-index: -1;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-top: 200px;
}

.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .btn{
	margin-top: 10px;
}

.center{
	width: 780px;
	margin-right: auto;
	margin-left: auto;
}

.img-circle{
	width: 140px;
	text-align: center;
	vertical-align: middle;
	margin-left: 0;
	margin-right: 0;
}

.span5{
	text-align: center;
}